<!DOCTYPE HTML>
<html>
<head>
	<script src="/static/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" />
	<title>{{config["MAIN"]["pagetitle"]}}</title>
</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for("root")}}">
					<img alt="Brand" width="30" src="/static/images/cloud.png">
					<a class="navbar-brand" href="{{ url_for("index")}}"><strong>{{config["MAIN"]["username"]}}</strong>'s ThrowBox</a>
				</a>
			</div>
		</div>
	</nav>


	<div class="container">

		{% block content %}
		{% endblock %}
		

		<footer>
			<div class="navbar navbar-default navbar-static-bottom">
				<div class="container">
					<span class="navbar-text">
					Coded by Stjepan Brkić, thanks to python3, Flask (+ Gunicorn), Bootstrap, JQuery. This project is <a href="https://github.com/whiteShtef/ThrowBox">open-source</a>.
					</span>
				</div>
			</div>
		</footer>

    </div><!-- /.container-->
</body>
</html>
