{% extends "squelette.html" %}

{% block corps %}
<div class="uk-container uk-container-center">
 <div class="uk-margin">
    {%- if Message -%}
       <div id="messageFlash" class="uk-alert uk-alert-success uk-alert-large uk-animation-slide-top">
            <a href="" class="uk-alert-close uk-close"></a>
            <p>{{ Message|safe }}</p>
        </div>
    {%- endif -%}
    {%- if route -%}
        <ul class="uk-breadcrumb">
            <li><a href="{{ url_for('ThrowBox.root')}}">root</a>
            {%- for item in route -%}
                <li><a href="{{item.url}}">{{item.name}}</a></li>
            {%- endfor %}
        </ul>
    {%- endif -%}
    {%- if (folders|length > 0) or (files|length > 0) -%}
    <a href="javascript:history.back()">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-title">
                <span class="uk-icon-reply" style="margin-right:10px;"></span>
                Back
            </div>
        </div>
    </a>
    {%- endif -%}

    {%- if (folders|length == 0) and (files|length == 0) and not Error404 -%}
    <a href="javascript:history.back()">
        <div class="uk-alert uk-alert-warning">
            <div class="uk-panel-title">
                <span class="uk-icon-reply" style="margin-right:10px;"></span>
                Nothing here. Click to go back.
            </div>
        </div>
    </a>
    {%- endif -%}

    {%- if Error404 -%}
    <a href="javascript:history.back()">
    <div class="uk-alert uk-alert-danger">
            <div class="uk-panel-title">
                <span class="uk-icon-reply" style="margin-right:10px;"></span>
                Error 404, not found.
            </div>
            The file was deleted or didn't exist at all.
            <br>
            However, mister <strong>{{ClientIP}}</strong>, this incident was logged.
    </div>
    </a>
    {%- endif -%}

    {%- if folders|length > 0 -%}
        {%- for folder in folders -%}
        <a href={{ url_for("ThrowBox.browse", path=BASE_PATH + "/"+folder)}}>
        <div class="uk-width-1-1 uk-panel uk-panel-box">
            <div class="uk-panel-title">
                <span class="uk-icon-folder-open" style="margin-right:10px;"></span>
                {{folder}}
                <a href={{ url_for("ThrowBox.download", path=BASE_PATH + "/"+folder)}}><span class="uk-icon-download" style="align-right:10px;"></span></a>
            </div>
        </div>
        </a>
        {%- endfor -%}
    {%- endif -%}

    {%- if files|length > 0 -%}
        {%- for file in files -%}
        <a href={{ url_for("ThrowBox.download", path=BASE_PATH+"/"+file)}}>
        <div class="uk-panel uk-panel-box">
                <span class="uk-icon-download" style="margin-right:10px;"></span>
                {{file}}

        </div>
        </a>
        {%- endfor -%}
    {%- endif -%}
    <br><br><br><br><br>
    <div class="uk-alert uk-alert-large uk-alert-warning">
        <div class="uk-panel-title">Ajout de fichiers</div>
        <div>
         <form action = "" method = "POST" 
             enctype = "multipart/form-data">
             <input type = "file" name = "file" />
             <input type = "submit"/>
          </form>
        </div>
    </div>
</div>
</div>
{% endblock %}

