#treePath {
  /* background-color: #ccc; */
  padding: 8px 16px;
  margin-bottom: 16px; }
#treePath.block-style {
    /* background-color: #fafafa; */
}

#treeFic {
  /* background-color: #ccc; */
  padding: 8px 16px;
  margin-bottom: 16px; }
#treeFic.block-style {
    /* background-color: #fafafa; */
}

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
  content: url(spinner.gif);
  margin-left: 8px; }

#scroll-container {
  height: 200px;
  overflow-y: scroll;
  position: relative;
  /* ie7 fix */
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 16px; }

.block-style ul.jqtree-tree {
  margin-left: 0; }
.block-style ul.jqtree-tree ul.jqtree_common {
    margin-left: 2em; }
.block-style ul.jqtree-tree .jqtree-element {
    margin-bottom: 2px;
    /* background-color: #ddd; */
    padding: 6px; }
.block-style ul.jqtree-tree .jqtree-element .jqtree-title {
      margin-left: 0; }
.block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element,
  .block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    /* background: #5b5b5b; */
    text-shadow: none; }
