html{ 
    height: 100%;
}
body{
    min-height: 100%;
    margin: 0;
    position: relative;    
}

#content 
{   
    margin-bottom: 50px;
}

#content:after {
  content: "";
  display: block;
}
#footer, #content:after {
  height: 20px; 
}
#footer {
    position: fixed;
    bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 20px; 
  text-align: center;
  background: grey;
  color: white;
}

#footer_temp {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px; 
  right :20px;
  text-align: right;
}