{% extends "squelette.html" %}
{% block header %}
       
        <!-- ======================================================
            CSS
        ====================================================== -->
        <link rel="stylesheet" href="{{ url_for('MPDClient.static', filename='css/MPD.css') }}">
        <!-- ======================================================
            JavaScript
        ====================================================== -->
        <script type="text/javascript" src="{{ url_for('MPDClient.static', filename='lib/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                refresh_player_loop();
            });
        </script>
{% endblock %}
 
{% block titre %}Lecteur musique osmc{% endblock %}

    <!-- =======================================================
        HTML Body
    ======================================================= -->
{% block corps %}    
        <div id="zone_menu">
            <!-- generate menu bar -->
            {%- for plugin in plugins -%}
                {%- if plugin.has_panel -%}
                    {%- if plugin.button_label -%}
                        <button class="uk-button" onclick='load_plugin_content("{{plugin.name}}", "index", {});'>{{plugin.button_label}}</button>
                    {%- else -%}
                        {{ plugin.button_html|safe }}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </div>   
        <div id="zone_player">{{ player|safe }}
            <div class="uk-form" id="zone_options">
                <div style="display:inline;">
                    <select id='timer' onchange="refresh_player_loop();">
                        <option value='1000'>refresh 1s</option>
                        <option value='2000'>refresh 2s</option>
                        <option value='5000' selected>refresh 5s</option>
                        <option value='10000'>refresh 10s</option>
                        <option value=''>refresh none</option>
                    </select>
                    <input type="checkbox" id='dispTags' onchange='changeDisplay(this);' />
                </div>
            </div>
        
        </div>
        <div id="zone_plugins"></div>
        <div id="zone_playList">{{ player_playlist|safe }}</div>
{% endblock %}
 
{% block footer %}
<footer>
    {%- if player_stream -%}
        <div id="stream_player">
        <audio src="{{ player_stream }}" autoplay controls>
            Échec, la balise audio n’est pas reconnue par votre navigateur
        </audio>
        </div>
    {%- else -%}    
        KuganCorp 2017
    {%- endif -%}

</footer>
{% endblock %}