{% extends "squelette.html" %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqtree.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestionFichier.css') }}">
    <script src="{{ url_for('static', filename='lib/jqTree/tree.jquery.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='lib/PrepaValidForm.js') }}"></script>
    {% macro remastering(list,id) %}{% autoescape false %}
        {%- set idxs = [0] -%}
        [{%- for item in list.children recursive %}
            {%- if loop.index0 > 0 -%},{%- endif %}{name: '{{ item.name }}', fullname: '{{ item.fullname }}'{%- if id -%}, id: {{ idxs|length*1000 + loop.index}}{%- endif %}
            {%- if item.children -%}{%- set tmp = idxs.append(loop.index) -%},children: [{{ loop(item.children) }}]{%- set tmp = idxs.pop() -%}{%- endif %}
        }{%- endfor %}]
        {% endautoescape %}
    {%- endmacro %}
    <script type="text/javascript" charset="utf-8">
    $(function() {
            var $treePath = $('#treePath');
            var dataPath = {{ remastering(path_list, false) }};
            $treePath.tree({data: dataPath,autoOpen: 1});
            $treePath.bind('tree.dblclick',function(e) {
                var selected_node = e.node;
                alert(selected_node.fullname);
            });
            var $treeFic = $('#treeFic');
            var dataFile = {{ remastering(file_list, true) }};
            $treeFic.tree({data: dataFile,autoOpen: true});
            $treeFic.bind('tree.click',function(e) {
                // Disable single selection
                e.preventDefault();
                var selected_node = e.node;
                if (selected_node.id == undefined) {console.log('The multiple selection functions require that nodes have an id');}
                if ($treeFic.tree('isNodeSelected', selected_node)) {$treeFic.tree('removeFromSelection', selected_node);}
                else {$treeFic.tree('addToSelection', selected_node);}
            });
            $treeFic.bind('tree.dblclick',function(e) {
                var selected_node = e.node;
                alert(selected_node.fullname);
        });
    });
    </script>
{% endblock %}

{% block titre %}Organisation des fichiers osmc{% endblock %}
 
{% block corps %}
    <h1>{{ self.titre() }}</h1>
    <br><br>
    <form class="form_settings" method="POST" action="">
        <p>
            <label for="repPrinc">emplacement des fichiers à traiter :</label> :
            <input type="text" name="repPrinc" id="repPrinc" value={{ pathFiles }} />
            <button type="submit" name="submitButton" value="ModifPath">Modifier</button>
        </p>
    </form>
    <p>Selectionnez le ou les fichiers puis l'emplacement et enfin cliquez sur le bouton de votre choix</p>
    <form class="form_settings" method="post" onSubmit="return ChargementForm(this);" action="">
        <p>
            <script type="text/javascript">
                function changeaffiche(element,visible){
                    var targetElement;
                    targetElement = document.getElementById(element) ;
                    if (visible == true){targetElement.style.display = "" ;}
                    else{targetElement.style.display = "none" ;}
                }
            </script>
            <fieldset>
                <div class="liste">
                    <h2>Liste Fichiers</h2> 
                    <div id="treeFic">		</div>
                    <textarea id="FilesSelected" style="display:none;" name="FilesSelected"></textarea>
                </div>
            </fieldset> <fieldset>
                <div class="liste">
                    <h2>Liste répertoires</h2> 
                    <div id="treePath">		</div>
                    <textarea id= "PathSelected" style="display:none;" name="PathSelected"></textarea>
                </div>
            </fieldset>
            <!--<button id="test" onClick="ChargementForm(this)">test</button>-->
            <fieldset> <legend>Choix de l'action :</legend>
                <input type="radio" name="ChxAction" value="NvDossier" id="NvDossier" onclick="changeaffiche('NomNvDossier',true)" /> <label for="NvDossier">Créer un nouveau dossier</label>
                <input type="text" name="NomNvDossier" id="NomNvDossier" style="display:none" value="New Dossier" />
                <br>
                <input type="radio" name="ChxAction" value="Deplacer" id="Deplacer" onclick="changeaffiche('NomNvDossier',false)"/> <label for="Deplacer">Déplacer le ou les fichiers</label>
                <br>
                <input type="radio" name="ChxAction" value="Copier" id="Copier" onclick="changeaffiche('NomNvDossier',false)" /> <label for="Copier">Copier le ou les fichiers</label>
                <br>
                <input type="radio" name="ChxAction" value="SupprimerFichiers" id="SupprimerFichiers" onclick="changeaffiche('NomNvDossier',false)" /> <label for="SupprimerFichiers">Supprimer le ou les fichiers</label>
                <br>
                <input type="radio" name="ChxAction" value="SupprimerDossier" id="SupprimerDossier" onclick="changeaffiche('NomNvDossier',false)" /> <label for="SupprimerDossier">Supprimer le dossier</label>
            </fieldset>
            <button type="submit" name="submitButton" value="Lancer">Lancer</button>
        </p>
    </form>
{% endblock %}
 
{% block footer %}
<footer>KuganCorp 2017</footer>
{% endblock %}