{% extends "squelette.html" %}
{% block header %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='lib/PrepaValidForm.js') }}"></script>
    {%- macro remastering(list,id) %}{% autoescape false %}
        {%- set idxs = [0] -%}
        [
        {%- for item in list.children recursive %}
            {%- if loop.index0 > 0 %}
                ,
            {%- endif -%}
            {"text": "{{ item.name }}", "data": "{{ item.fullname }}"
            {%- if id -%}
                , "id": {{ idxs|length*1000 + loop.index}}
            {%- endif -%}
            {%- if item.type == 'file' -%}
                , "icon": "uk-icon-file-o"
            {%- endif -%}
            
            {%- if item.children -%}
                {%- set tmp = idxs.append(loop.index) -%}
                ,"children": [{{ loop(item.children) }}]
                {% set tmp = idxs.pop() -%}
            {%- endif -%}
            }
        {%- endfor %}
        ]
        {%- endautoescape -%}
    {%- endmacro -%}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var $treePath = $('#treePath');
        var dataPath = {{ remastering(path_list, false) }};
        // console.log('dataPath=' + dataPath);
        $treePath.jstree(
            {'core' : 
                { 'multiple' : true,
                  'data' : dataPath
                }
            }
        );
        $treePath.on("changed.jstree", function (e, data) {
            var selected_node = data.selected;
            console.log(selected_node);
            console.log(data.instance.get_selected(true)[0].text);
            console.log(data.instance.get_selected(true)[0].data);
            document.getElementById('PathSelected').value = data.instance.get_selected(true)[0].data;
        });
        var $treeFic = $('#treeFic');
        var dataFile = {{ remastering(file_list, true) }};
        // console.log('dataFile=' + dataFile);
        $treeFic.jstree(
            {'core' : 
                { 'multiple' : true,
                  'themes' : 
                    { 'dots' : false
                    },
                  'data': dataFile
                },
             'plugins' : ['checkbox']
            }
        );
        $treeFic.on("changed.jstree", function (e, data) {
            var i, j, r = [];
            for(i = 0, j = data.selected.length; i < j; i++) {
                r.push(data.instance.get_node(data.selected[i]).data);
            }
            $('#FilesSelected').html(r.join(';'));
        });
    });
    </script>

    {% endblock %}

{% block titre %}Organisation des fichiers osmc{% endblock %}
 
{% block corps %}
<div class="uk-container uk-container-center">
 <div class="uk-margin">
<div class="uk-grid">
    <h1>{{ self.titre() }}</h1>
    <br><br>
        
    <br>
    <p class="uk-width-1-1">Selectionnez le ou les fichiers puis l'emplacement et enfin cliquez sur le bouton de votre choix</p>
    <br>
    <br>
    <h2>Liste Fichiers</h2> 
    <form class="uk-form uk-width-1-1" method="POST" action="">
        <p>
            <label for="repPrinc">emplacement des fichiers à traiter :</label> :
            <input type="text" name="repPrinc" id="repPrinc" style="width:300px;" value={{ pathFiles }} />
            <button class="uk-button" type="submit" name="submitButton" value="ModifPath">Modifier</button>
            <tab><tab><tab><tab><button class="uk-button uk-button-small uk-width-3-10 uk-float-right" onclick="MajPath()" type="submit" name="submitButton" value="ModifPath">Récupération du répertoire sélectionné</button>
        </p>
    </form>
    <br><hr><br>
    <form class="uk-form uk-width-1-1" method="post" onSubmit="return ChargementForm(this);" action="">
        <script type="text/javascript">
            function changeaffiche(element,visible){
                var targetElement;
                targetElement = document.getElementById(element) ;
                if (element == "RenameFile")
                {
                    var nodes = $('#FilesSelected').value.split(';');
                    if (nodes.length > 1){
                        alert('Vous ne pouvez renommer qu\'un fichier à la fois');
                    }else{
                        targetElement.value =  encodeURIComponent(nodes) ;
                    }
                }
                var i;
                var lstID=['NomNvDossier','NomNvFile'];
                for(i = 0; i < 2; i++) {
                    targetElement = document.getElementById(lstID[i]) ;
                    if (visible == true && lstID[i] == element){
                        targetElement.style.display = "" ;
                    }else{
                        targetElement.style.display = "none" ;
                    }
                }
                return false;
            }
            function MajPath(){
                PathSelected = document.getElementById('PathSelected').value
                alert('Le répertoire ' + PathSelected + ' est chargé.\n Merci de patienter le temps du rechargement' );
                document.getElementById("repPrinc").value= PathSelected + '/';
                return false;
            }
        </script>
        <fieldset>
            <div class="liste">
                <div id="treeFic">	</div>
                <textarea id="FilesSelected" style="display:none;" name="FilesSelected"></textarea>
            </div>
        </fieldset> <fieldset>
            <div class="liste">
                <h2>Liste répertoires</h2> 
                <div id="treePath">		</div>
                <textarea id= "PathSelected" style="display:none;" name="PathSelected"></textarea>
            </div>
        </fieldset>
        <fieldset data-uk-margin> <legend>Choix de l'action :</legend>
            <p>
            <div class="uk-form-row tm-grid-truncate uk-text-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-button-group" data-uk-button-radio>
                    <label class="uk-button uk-width-1-1" onclick="changeaffiche('NomNvDossier',true);" for="NvDossier">Créer un nouveau dossier</label>
                    <br>
                    <label class="uk-button uk-width-1-1" for="RenameFile" onclick="changeaffiche('NomNvFile',true)">Renommer le fichier</label>
                    <br>    
                    <label class="uk-button uk-width-1-1" for="Deplacer" onclick="changeaffiche('',false)">Déplacer le ou les fichiers</label>
                    <br>
                    <label class="uk-button uk-width-1-1" for="Copier" onclick="changeaffiche('',false)">Copier le ou les fichiers</label>
                    <br>
                    <label class="uk-button uk-width-1-1" for="SupprimerFichiers" onclick="changeaffiche('',false)">Supprimer le ou les fichiers</label>
                    <br>
                    <label class="uk-width-1-1" for="SupprimerDossier" onclick="changeaffiche('',false)">Supprimer le dossier</label>
                    <br>
                    <input type="radio" id="NvDossier" name="ChxAction" value="NvDossier" style="display:none;"/>
                    <input type="radio" id="RenameFile" name="ChxAction" value="RenameFile" style="display:none;"/>
                    <input type="radio" id="Deplacer" name="ChxAction" value="Deplacer" style="display:none;"/>
                    <input type="radio" id="Copier" name="ChxAction" value="Copier" style="display:none;"/>
                    <input type="radio" id="SupprimerFichiers" name="ChxAction" value="SupprimerFichiers" style="display:none;"/>
                    <input type="radio" id="SupprimerDossier" name="ChxAction" value="SupprimerDossier" style="display:none;"/>
                </div>
            </div>
            </div>
            <br>
            <input type="text" placeholder="nom du dossier" name="NomNvDossier" id="NomNvDossier" style="display:none"/>
            <input placeholder="nouveau nom de fichier" type="text" name="NomNvFile" id="NomNvFile" style="display:none"/>
            </p>
        </fieldset>
        <button class="uk-button" type="submit" name="submitButton" value="Lancer">Lancer</button>
    </form>
</div>
<a class="fa fa-cog" href="/config/home/osmc/scripts/AutoMoveFile/KeyList.cfg" aria-hidden="true">   réglage mode auto</a>
</div>
</div>
{% endblock %}
{% block footer %}

<footer>KuganCorp 2017</footer>
{% endblock %}
