{% extends "squelette.html" %}

{% block titre %}Osmc Salon by JGriffon{% endblock %}

{% block corps %}
<h1>Bienvenue {{ self.titre() }}</h1>
<br>
        <br>Bienvenue dans cet environnement de test <br>
<ul>Fonctionnel :
        <br>
 <li>Accès SSH </li>
 <li>Accès JDownloader </li>
 <li>Organisation des fichiers </li>
</ul>
<ul>En cours : 
 <br>
 <li>Esthétiquue globale</li>
 <br>
 </ul>
<ul>A venir : 
        <br>
 <li>Etat du raspberry + logs</li>
 <li>Accès kodi</li>
 <li>Accès musique</li>
 <li>- </li>
 </ul>
{% endblock %}
