{% extends "squelette.html" %}

{% block titre %}Osmc Salon by JGriffon{% endblock %}

{% block corps %}
<h1>Bienvenue {{ self.titre() }}</h1>
<br>
        <br>Bienvenue dans cet environnement de test <br>
<br><br><br><h2><a href="/majWeb/">MaJ du serveur</a></h2>
        
        <ul><h3>Fonctionnel :</h3>
        <br>
 <li>Accès SSH </li>
 <li>Accès JDownloader </li>
 <li>Organisation des fichiers </li>
 <li>Accès SSH </li><
 <li>Esthétique globale</li>
 <li>Fichier Config</li>
/ul>
<ul><h3>En cours : </h3>
 <br>
 <li>Etat du raspberry + logs</li>
 <li>Accès kodi</li>
 <li>Accès musique</li> 
 <br>
 </ul>
<ul>A venir : 
        <br>

 <li> </li>
 </ul>
{% endblock %}
