{% extends "squelette.html" %}

{% block titre %}Osmc Salon by JGriffon{% endblock %}

{% block corps %}
<div class="uk-container uk-container-center">
 <div class="uk-margin">
<h1>Fichiers Log {{ self.titre() }}</h1>
<form class="uk-form" method="POST" action="">
    <p>
        <label for="repPrinc">emplacement des scripts :</label> :
        <input type="text" name="repPrinc" id="repPrinc" value={{ pathFiles }} />
        <button type="submit" name="submitButton" value="ModifPath">Modifier</button>
    </p>
</form>
<button class="uk-button" onclick="start()">Lancer MAJ</button>
<button class="uk-button" onclick="stop()">stopper MAJ</button>
<br><br><br>
<div id="bip" class="display"></div>

<script>
var counter = 0;
var intervalId = null;
function stop()
{
  clearInterval(intervalId);
  document.getElementById("bip").innerHTML = "";	
}
function bip()
{
    document.getElementById("bip").innerHTML = counter + " secondes passées";
    counter++;
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var FileSelect= document.getElementById("repPrinc").value
    var content = $SCRIPT_ROOT+"/gestionFichier/log/_majData/"+encodeURIComponent(FileSelect);
    $.getJSON(content,
        function(data) {
            var sortie = "<hr>" + data.log.replace(/\n/g, "<"+"br/>"); + "<hr>";
            $("#gen").html(sortie);
        }
    );
}
function start()
{
  intervalId = setInterval(bip, 1000);
}
</script>    

<div class="status" id="gen"></div>
</div>
</div>
{% endblock %}
