{% extends "squelette.html" %}

{% block header %}
    {{ super() }} {# renvoie le contenu du block header (celui où l'on se situe) du template parent (squelette.html) #}
<style type="text/css">
			.example {
				float: left;
				margin: 15px;
			}
			
			.demo {
				width: 200px;
				height: 400px;
				border-top: solid 1px #BBB;
				border-left: solid 1px #BBB;
				border-bottom: solid 1px #FFF;
				border-right: solid 1px #FFF;
				background: #FFF;
				overflow: scroll;
				padding: 5px;
			}
			
			P.note {
				color: #999;
				clear: both;
			}
		</style>    
<!--<script src="/static/lib/jquery.min.js"></script>-->
    <script src="/static/lib/jquery.js" type="text/javascript"></script>
    <script src="/static/lib/jquery_002.js" type="text/javascript"></script>
    <script src="/static/lib/jqueryFileTree.js" type="text/javascript"></script>
    <link href="/static/css/jqueryFileTree.css" media="screen" rel="stylesheet" type="text/css" />
    <script type=text/javascript>
      $(document).ready( function()                                                                                                                                                                           
      {                                                                                                                                                                                                       
        $('#fileTreeDemo_1').fileTree({ 
            root: {{ pathFiles }},
            script: '/static/lib/jqueryFileTree.py',
            folderEvent: 'click',
            expandSpeed: 750,
            collapseSpeed: 750,
            multiFolder: false,
            expandEasing: 'easeOutBounce',
            collapseEasing: 'easeOutBounce',
            loadMessage: 'Un momento...'
           }, function(file) {                                                                                                                               
               alert(file);                                                                                                                                                                                        
            }); 
        $('#fileTreeDemo_2').fileTree({
              root: {{ path }}, 
              script: '/static/lib/jqueryPathTree.py', 
              folderEvent: 'click', 
              expandSpeed: 750, 
              collapseSpeed: 750, 
              multiFolder: false, 
              expandEasing: 'easeOutBounce', 
              collapseEasing: 'easeOutBounce', 
              loadMessage: 'Un momento...'  
              }, function(file) {                                                                                                                               
                    alert(file);                                                                                                                                                                                        
             });      
      });                                                                                                                                                                                                     
    </script>
{% endblock %}

{% block titre %}Organisation des fichiers osmc{% endblock %}

{% block corps %}
<h1>{{ self.titre() }}</h1>
<br><br>
    <form method="POST" action="/index.py">
        <p>
          <label for="repPrinc">emplacement des fichiers à traiter :</label> :
          <input type="text" name="repPrinc" id="repPrinc" value={{ pathFiles }} />
          <input type="submit" value="Modifier" />
        </p>
    </form>
    <p>Selectionnez le ou les fichiers puis l'emplacement et enfin cliquez sur le bouton de votre choix</p>
    <form method="post" action="/static/lib/action.py">
        <p>
           <div class="example">
              <h2>Liste Fichiers</h2>
              <div id="fileTreeDemo_1" class="demo"><ul class="jqueryFileTree" style=""><li class="directory collapsed"><a href="#" rel="{{ pathFiles }}">documents</a></li><li class="directory collapsed"><a href="#" rel="/static/images/fileico/">images</a></li></ul></div>
           </div>
           <br>
           <div class="example">
              <h2>Répertoire de copie</h2>
              <div id="fileTreeDemo_2" class="demo"></div>
           </div>
        </p>
        <fieldset> <legend>Choix de l'action :</legend>
          <p>
              <input type="radio" name="ChxAction" value="NvDossier" id="NvDossier" />
              <label for="NvDossier">Créer un nouveau dossier</label>
              <br>
              <input type="radio" name="ChxAction" value="Deplacer" id="Deplacer" /> <label for="Deplacer">Déplacer le ou les fichiers</label>
              <br>
              <input type="radio" name="ChxAction" value="Copier" id="Copier" /> <label for="Copier">Copier le ou les fichiers</label>
              <br>
              <input type="radio" name="ChxAction" value="Supprimer" id="Supprimer" /> <label for="Supprimer">Supprimer le ou les fichiers</label>
          </p>
          <input type="submit" value="Lancer" />
        </fieldset>
{% endblock %}


{% block footer %}
<footer>KuganCorp 2017</footer>
{% endblock %}
