{% extends "squelette.html" %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqtree.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestionFichier.css') }}">
    <script src="{{ url_for('static', filename='lib/jqTree/tree.jquery.js') }}"></script>
    {%- macro remastering(list,id) -%}{%- autoescape false -%}
        {%- set idxs = [0] -%}
        [{%- for item in list.children recursive -%}
            {%- if loop.index0 > 0 -%},{%- endif -%}{name: '{{ item.name }}', fullname: '{{ item.fullname }}'{%- if id -%}, id: {{ idxs|length*1000 + loop.index}}{%- endif -%}
            {%- if item.children -%}{%- set tmp = idxs.append(loop.index) -%},children: [{{ loop(item.children) }}]{%- set tmp = idxs.pop() -%}{%- endif -%}
        }{%- endfor -%}]
        {%- endautoescape -%}
    {%- endmacro -%}
    <script type="text/javascript" charset="utf-8">
    $(function() {
            var $treeFic = $('#treeFic');
            var dataFile = {{ remastering(file_list, true) }};
            $treeFic.tree({data: dataFile,autoOpen: true});
            $treeFic.bind('tree.dblclick',function(e) {
                var selected_node = e.node;
                alert(selected_node.fullname);
        });
    });
    </script>
{% endblock %}
{% block titre %}Osmc Salon by JGriffon{% endblock %}

{% block corps %}
<h1>scripts machine {{ self.titre() }}</h1>
<br><br>
<div id="ButtonChoix">
    <form class="uk-form" method="POST" action="">
        <p>
            <label for="repPrinc">emplacement des scripts :</label> :
            <input type="text" name="repPrinc" id="repPrinc" value={{ pathFiles }} />
            <button class="uk-button" type="submit" name="submitButton" value="ModifPath">Modifier</button>
        </p>
    </form>

    <p>Selectionnez le script puis cliquez sur le bouton Executer</p>
    <fieldset>
        <div class="liste">
            <h2>Liste Fichiers</h2> 
            <div id="treeFic">		</div>
            <textarea id="FilesSelected" style="display:none;" name="FilesSelected"></textarea>
        </div>
    </fieldset>
    <button class="uk-button" onclick="ConfirmExec()">Lancer script</button>
    <button class="uk-button" onclick="OuvertureEdition()">Editer</button>
</div>
<!-- https://stackoverflow.com/questions/21956500/use-jinja2-template-engine-in-external-javascript-file -->

    <script type="text/javascript">
        function ConfirmExec(){
    var FileSelect=$('#treeFic').tree('getSelectedNode').fullname;
    if (FileSelect == undefined){alert("Pas de script selectionné");return false;}
    var lblAction = "Vous aller executer le script " + FileSelect;
    if (confirm(lblAction + "\n\nEtes vous sûr ?")) {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var content = $SCRIPT_ROOT+"/gestionFichier/_retScripts"+encodeURIComponent(FileSelect);
        $.getJSON(content,
           function(data) {
                var sortie = "<br><br><br><hr>";
                sortie += "<h2>retour script :</h2>" 
                sortie += data.output;
                if (data.error != null && data.error != ''){
                    sortie += "<h3>ERREUR :</h3>" 
                    sortie += '<br>' + data.error;
                }
                sortie += "<br><br><hr>";
                $("#scriptresult").html(sortie);
            }
        );
    }
        else {    return false;  }
}
function OuvertureEdition(){
     var FileSelect=$('#treeFic').tree('getSelectedNode').fullname;
    if (FileSelect == undefined){alert("Pas de script selectionné");return false;}
    var lblAction = "Vous aller Modifier le script " + FileSelect;
    if (confirm(lblAction + "\n\nEtes vous sûr ?")) {
        //var page = url_for('scriptModif',username=user.username);
        //var nom = '';
        //var option = '';
        //window.open(page,nom,option);
        changeaffiche("ButtonChoix",false);
        changeaffiche("scriptmodif",true);
        RecupContenuFichier(FileSelect);
        // Récupération du contenu du fichier
    }
       else {    return false;  }
}

function RecupContenuFichier(Fichier){
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var content = $SCRIPT_ROOT+"/gestionFichier/_modScripts"+encodeURIComponent(Fichier);
        $.getJSON(content,
           function(data) { 
                $("#Scriptcontenu").text(data.content);
                $("#TitreFichier").text(data.name);
                $("#FileSelected").text(data.name);
            }
        );
}

function ChargementForm(Form){
var lblAction = "Vous allez modifier un fichier important !";
if (confirm(lblAction + "\n\nEtes vous sûr ?")) {    //alert("oui")  
}
  else {    return false;  }
}
function changeaffiche(element,visible){
    var targetElement;
    targetElement = document.getElementById(element) ;
    if (visible == true){targetElement.style.display = "" ;}
    else{targetElement.style.display = "none" ;}
}
    </script>


<div id="scriptmodif" style="display:none">
<h1>Fichier</h1>
 <form class="uk-form" method="post" onSubmit="return ChargementForm(this);" action="">
   <p>
     <h1 id="TitreFichier">?</h1>
     <textarea id="FileSelected" style="display:none;" name="FileSelected"></textarea>
     <label for="Scriptcontenu">Contenu du fichier :<br></label>
     <textarea name="Scriptcontenu" id="Scriptcontenu" rows="30" cols="500"></textarea><br>
     
     <button class="uk-button" type="submit" name="submitButton" value="EnregFichier">Modifier</button>
   </p>
</form>
</div>           

<div class="result" id="scriptresult"></div>
{% endblock %}
 