<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/fontello.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_general.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_elements.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_buttons.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_inputs.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_modal.css">
        <link rel="stylesheet" type="text/css" href="/static/css/webiny/webiny_tooltip.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/icons.css">
        <title>{% block titre %}Titre par défaut{% endblock %}</title>
    {% endblock %}
    </head>

    <body>
        {% block corps %}{% endblock %}        
        {% block footer %}{% endblock %}
    </body>
</html>
