{% extends "squelette.html" %}
 
 {% block titre %}Organisation des fichiers osmc{% endblock %}
 
 {% block corps %}
 <h1>{{ self.titre() }}</h1>
 <br><br>
     <form class="form_settings" method="POST" action="">
         <p>
           <label for="repPrinc">emplacement des fichiers à traiter :</label> :
           <input type="text" name="repPrinc" id="repPrinc" value={{ pathFiles }} />
 		  <button type="submit" name="submitButton" value="ModifPath">Modifier</button>
         </p>
     </form>
     <p>Selectionnez le ou les fichiers puis l'emplacement et enfin cliquez sur le bouton de votre choix</p>
     <form class="form_settings" method="post" onSubmit="return ChargementForm(this);" action="">
 		<p>
    <script type="text/javascript">
         function changeaffiche(element,visible){
             var targetElement;
             targetElement = document.getElementById(element) ;
             if (visible == true){targetElement.style.display = "" ;}
             else{targetElement.style.display = "none" ;}
         }
     </script>
 		{% block listes %}{% endblock %}
         <fieldset> <legend>Choix de l'action :</legend>
 	             <input type="radio" name="ChxAction" value="NvDossier" id="NvDossier" onclick="changeaffiche('NomNvDossier',true)" /> <label for="NvDossier">Créer un nouveau dossier</label>
               <input type="text" name="NomNvDossier" id="NomNvDossier" style="display:none" value="New Dossier" />
               <br>
               <input type="radio" name="ChxAction" value="Deplacer" id="Deplacer" onclick="changeaffiche('NomNvDossier',false)"/> <label for="Deplacer">Déplacer le ou les fichiers</label>
               <br>
               <input type="radio" name="ChxAction" value="Copier" id="Copier" onclick="changeaffiche('NomNvDossier',false)" /> <label for="Copier">Copier le ou les fichiers</label>
               <br>
               <input type="radio" name="ChxAction" value="SupprimerFichiers" id="SupprimerFichiers" onclick="changeaffiche('NomNvDossier',false)" /> <label for="Supprimer">Supprimer le ou les fichiers</label>
 			  <br>
 			  <input type="radio" name="ChxAction" value="SupprimerDossiers" id="SupprimerDossiers" onclick="changeaffiche('NomNvDossier',false)" /> <label for="SupprimerDossiers">Supprimer le dossier</label>
         </fieldset>
 	<button type="submit" name="submitButton" value="Lancer">Lancer</button>
      </p></form>
           
 
 {% endblock %}
 
 
 {% block footer %}
 <footer>KuganCorp 2017</footer>
 {% endblock %}
