<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="jAXrMsdiYfUvkJouaTu1I34YRJtVdWbm6P4XIDQy3VQ" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <title>Contrôle OSMC</title>
  <meta name="description" content="Mon site pour gérer mon Raspberry Pi" />
  <meta name="keywords" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <!-- jQuery is required -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{%- if DEBUG == True %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
{%- else %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{%- endif %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  {% block header %}
  {% endblock %}
</head>
<body>
<div id="main">
{%- with messages = get_flashed_messages(with_categories=true) -%}
{%-     if messages -%}
{%-         for category, message in messages -%}
{%-             if category=='error' -%}
{%-                 set typemessage = 'uk-alert-danger' -%}
{%-             endif -%}
{%-             if category=='warning' -%}
{%-                 set typemessage = 'uk-alert-warning' -%}
{%-             endif -%}
{%-             if category=='info' -%}
{%-                 set typemessage = 'uk-alert-success' -%}
{%-             endif %}
   <div id="messageFlash" class="uk-alert {{ typemessage }} uk-alert-large uk-animation-slide-top">
        <a href="" class="uk-alert-close uk-close"></a>
        <p>{{ message|safe }}</p>
    </div>
{%-         endfor -%}
{%-     endif -%}
{%- endwith -%}
    
{%- macro menu(TypeMenu) -%}
{%-     for item in MENU -%}
{%-         if MENU[item]['path'] == 'SubMenuTitle' -%}
{%-             if TypeMenu == 'Normal' %}
                <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
                    <a href="#">{{ MENU[item]['name'] }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-caret-down"></i></a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
{%-             else %}
                <li class="uk-parent">
                    <a href="#">{{ MENU[item]['name'] }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="uk-icon-caret-down"></i></a>
                    <ul class="uk-nav-sub">
{%-             endif %}
{%-             for item2 in MENU[item] -%}
{%-                 if MENU[item][item2] is mapping -%}
                        <li><a href="{{ MENU[item][item2]['path'] }}">{{ MENU[item][item2]['name'] }}</a></li>
{%-                 endif %}
{%-             endfor %}
{%-             if TypeMenu == 'Normal' %}
                        </ul>
                    </div>
                 </li>
{%-             else %}
                    </ul>
                </li>
{%-             endif %}
{%-         else -%}
{%-             if request.path ==  MENU[item]['path'] -%}
{%-                 set navstatus = 'uk-active' -%}
{%-             else -%}
{%-                 set navstatus = '' -%}
{%-             endif %}
                <li class="{{ navstatus }}"><a href="{{ MENU[item]['path'] }}">{{ MENU[item]['name'] }}</a></li>
{%-         endif %}
{%-     endfor -%}
{%- endmacro -%}


    <div class="uk-container uk-container-center">   
        <div class="uk-margin">
            <nav class="uk-navbar">
                <ul class="uk-navbar-nav uk-hidden-small uk-hidden-medium">
                    {{ menu('Normal') }}
                </ul>
                <a href="#navbar-mobile" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas="{mode:'slide'}"></a>
            </nav>
        </div>
    </div>
    <div id="navbar-mobile" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                {{ menu('Small') }}
            </ul>
        </div>
    </div>
	<div id="site_content">
         <div id="content">
        	<div class="content_item">
		  	{% block corps %}
          		{% endblock %}
            </div><!--close content_item-->
         </div><!--close content-->   
	</div><!--close site_content--> 
</div><!--close main-->
   
   
  
  <div id="footer">
    {% block footer %}Yunatane 2018{% endblock %}
  </div>
    {%- if temperature <= 40 -%}
        {%- set logotemp = 'empty' -%}
    {%- elif temperature <= 55 -%}
        {%- set logotemp = 'quarter' -%}
    {%- elif temperature <= 70 -%}
        {%- set logotemp = 'half' -%}
    {%- elif temperature <= 85 -%}
        {%- set logotemp = 'three-quarters' -%}
    {%- else -%}
        {%- set logotemp = 'full' -%}
    {%- endif -%}
   <div id="footer_temp"><i class="fa fa-thermometer-{{logotemp}}  fa-border fa-2x" aria-hidden="true">  {{ temperature }} °C</i></div>
  
  </div><!--close footer-->  
  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}" /> -->
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>

</body>
</html>
