{% extends "squelette.html" %}
{% block header %}
   	<link rel="stylesheet" href="{{ url_for('static', filename='css/frame.css') }}">
<script language="JavaScript">
function calcHeight(){
  //récupère la hauteur de la page
  var the_height=document.getElementById('the_iframe').contentWindow.document.body.scrollHeight;
 //change la hauteur de l'iframe
  document.getElementById('the_iframe').height=the_height;
}
</script>
{% endblock %}
{% block titre %}Osmc Salon by JGriffon{% endblock %}

{% block corps %}
<h1>SSH {{ self.titre() }}</h1>
<a href="{{ path }}" target="_blank">Ouvrir dans une nouvelle fenêtre</a>
<br>
<div id="bw_webframe">
	<iframe width="1300" id="the_iframe"
		onLoad="calcHeight();"
		src="{{ path }}"
		scrolling="auto"
		frameborder="1"
		height="900">
		ici un petit texte visible uniquement
		des navigateurs qui ne supportent pas
		les iframes
	</iframe>
</div>
{% endblock %}