{% extends "squelette.html" %}

{% block titre %}Osmc Salon by JGriffon{% endblock %}

{% block corps %}
<div class="uk-container uk-container-center">
<h1>Etats d'{{ self.titre() }}</h1>
<br>
<button class="uk-button" onclick="start()">Lancer MAJ</button>
<button class="uk-button" onclick="stop()">stopper MAJ</button>
<br><br><br>
<div id="bip" class="display"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://rawgit.com/masayuki0812/c3/master/c3.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='lib/status.js') }}"></script> -->
<script>
var counter = 0;
var intervalId = null;
function stop(){
  clearInterval(intervalId);
  document.getElementById("bip").innerHTML = "";
  counter = 0;
}
function bip(){
    document.getElementById("bip").innerHTML = counter + " secondes passées";
    counter++;
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var content = $SCRIPT_ROOT+"/_majData";
    $.getJSON(
        $SCRIPT_ROOT+"/_majData",
        function(data)
        {
            var elt_html="";
            var sortie = $("#template_gen").html();
            sortie = sortie.replace("$data.hostname",data.hostname);
            sortie = sortie.replace("$data.uptime",data.uptime);
            sortie = sortie.replace("$data.cpufrequency.current",data.cpufrequency.current);
            sortie = sortie.replace("$data.cpufrequency.min",data.cpufrequency.min);
            sortie = sortie.replace("$data.cpufrequency.max",data.cpufrequency.max);
            $("#gen").html(sortie);
            //$("#template_gen").remove();

            var chartnetwork = c3.generate({bindto: '#canvas-network',
                size: {height: 120},
                data: {columns: [['data1', data.ip.detail.eth0.bytes_sent_raw, data.ip.detail.wlan0.bytes_sent_raw],['data2', data.ip.detail.eth0.bytes_recv_raw, data.ip.detail.wlan0.bytes_recv_raw]],
                    names: {data1: 'envoyées',data2: 'reçues'},
                    type: 'bar',
                    colors: {data1: '#1A5A92',data2: '#B32E4D'},
                    labels: {format: {data1: d3.format('.4s'),data2: d3.format('.4s')}}},
                bar: {width: {ratio: 0.75}},
                axis: {x: {type: 'category',categories: ['Ethernet', 'Wi-Fi']},y:{label: 'Quantités données',tick: {format: d3.format(".2s")}},rotated: true},
                tooltip: {format: {title: function (d) { return 'IP ' + (d==0 ? data.ip.detail.eth0.ip : data.ip.detail.wlan0.ip) ; },
                        value: function (value, ratio, id) {var format = d3.format('.4s');return format(value);}}}
            });

            sortie = $("#template_process").html();
            sortie = sortie.replace("$data.numcpu",data.numcpu);
            sortie = sortie.replace("$data.cpuusage.average",data.cpuusage.average);
            sortie = sortie.replace("$data.cpuusage.values",data.cpuusage.values);
            elt_html = "";
            for(elt in data.processes){
                elt_html += $("#template_lstPID").html().replace("$data.processes[elt].name",data.processes[elt].name);
                elt_html = elt_html.replace("$data.processes[elt].lstPID",(data.processes[elt].lstPID == "" ? "OFF !!" : data.processes[elt].lstPID));
                
            };
            sortie = sortie.replace("$template_lstPID",elt_html);
            elt_html = "";
            for(elt in data.allprocesses){
                elt_html += $("#template_lstProcess").html().replace("$data.allprocesses[elt].name",data.allprocesses[elt].name);
                elt_html = elt_html.replace("$data.allprocesses[elt].cpu_percent",data.allprocesses[elt].cpu_percent);
                elt_html = elt_html.replace("$data.allprocesses[elt].memory_percent",Math.round(data.allprocesses[elt].memory_percent*100)/100);
                elt_html = elt_html.replace("$data.allprocesses[elt].pid",data.allprocesses[elt].pid);
            };

            elt_html = elt_html.replace("<table>","");
            elt_html = elt_html.replace("<tbody>","");
            elt_html = elt_html.replace("</table>","");
            elt_html = elt_html.replace("</tbody>","");
            // console.log("sortie = %s",sortie);       
            // console.log("elt_html = %s",elt_html);
            sortie = sortie.replace("<!--$template_lstProcess-->",elt_html);
            
            $("#process").html(sortie);
            //$("#template_process").remove();
            //$("#template_lstProcess").remove();
            //$("#template_lstPID").remove();

            var chartcpu = c3.generate({bindto: '#canvas-cpu',
            size: {width : 270},
            data: {columns: [['data1', data.cpuusage.average]],type: 'gauge',names:{data1:'CPU %'}},
            gauge: {label: {format: function(value, ratio) {return value;},show: true},min: 0,max: 100,units: ' %',width: 39},
            tooltip: {contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                var $$ = this, config = $$.config, CLASS = $$.CLASS,
                    titleFormat = config.tooltip_format_title || defaultTitleFormat,
                    nameFormat = config.tooltip_format_name || function (name) { return name; },
                    valueFormat = config.tooltip_format_value || defaultValueFormat,
                    text, i, title, value, name, bgcolor;
                for (i = 0; i < d.length; i++) {
                    if (! text) {title = 'Nombre de CPU :' + data.numcpu;text = "<table class='" + CLASS.tooltip + "'>" + (title || title === 0 ? "<tr><th colspan='2'>" + title + "</th></tr>" : "");}
                    name = nameFormat(d[i].name);
                    value = valueFormat(d[i].value, d[i].ratio, d[i].id, d[i].index);
                    bgcolor = $$.levelColor ? $$.levelColor(d[i].value) : color(d[i].id);
                    text += "<tr class='" + CLASS.tooltipName + "-" + d[i].id + "'>";
                    text += "<td class='name'><span style='background-color:" + bgcolor + "'></span>valeur moyenne :</td>";
                    text += "<td class='value'>" + value + "</td>";
                    text += "</tr>";
                    text += "<tr class='" + CLASS.tooltipName + "-" + d[i].id + "'>";
                    text += "<td class='name'><tab>valeur de chaque CPU :</td>";
                    text += "<td class='value'>" + data.cpuusage.values + "</td>";
                    text += "</tr>";
                }
                return text + "</table>";}},
            color: {pattern: ['#60B044', '#F6C600', '#F97600','#FF0000' ], threshold: {unit: 'value',max: 100,values: [10, 30, 60, 100]}}
            });
            var chartmem = c3.generate({bindto: '#canvas-mem',
                size: {height: 240},
                data: {columns: [['data1', data.memory.usedraw],['data2', data.memory.availableraw]],
                    names: {data1: 'Utilisée',data2: 'Libre'},
                    type : 'donut',
                    colors: {data1: '#B32E4D',data2: '#89B2D7',},
                    labels: {format: {data1: d3.format('.4s'),data2: d3.format('.4s')}}},
                donut: {title: 'Mémoire ' + data.memory.total},
                tooltip: {format: {value: function (value, ratio, id) {
                  var format = d3.format('.4s');
                  return format(value);}}}
            });

            sortie =  $("#template_disk").html();
            $("#disk").html(sortie);
            //$("#template_disk").remove();
            var chartdsk = [];
            for(elt in data.disk){
                $("#disk").append("<div id='canvas-dsk" + elt + "'></div>");
                chartdsk[elt] = c3.generate({bindto: '#canvas-dsk' + elt,
                    size:{height: 240},
                    data: {columns: [['data1', data.disk[elt].freeraw],['data2', data.disk[elt].usedraw]],
                        names: {data1: 'Utilisée',data2: 'Libre'},
                        type : 'donut',
                        colors: {data1: '#B32E4D',data2: '#89B2D7'},
                        labels: {format: {data1: d3.format('.4s'),data2: d3.format('.4s')}}},
                    donut: {title: data.disk[elt].mountpoint},
                    tooltip: {format: {value: function (value, ratio, id){var format = d3.format('.4s');return format(value);}}}
                });
            }
        }
    );
}
function start(){
  intervalId = setInterval(bip, 1000);
}
$(document).ready(function () {
   bip();
});
</script>

<div class="uk-grid">
        <div class="uk-panel uk-panel-box uk-width-large-1-2" id="gen"></div>
        <div class="uk-panel uk-panel-box uk-width-large-1-2" id="process"></div>
        <div class="uk-panel uk-panel-box uk-width-large-1-2" id="disk"></div>
        <div class="uk-panel uk-panel-box uk-width-large-1-2"id="OSMCStatus">
            grep VERSION_ID /etc/os-release
        </div>
        {% raw %}
        <div class="uk-panel uk-panel-box uk-width-large-1-2"id="GitStatus">
            <h1>Dernières mises à jour du site<tab><tab><tab><tab><tab><a class="uk-button uk-button-small" href='/majWeb/'>MaJ du serveur</a></h1>
            <template v-for="branch in branches">
                    <input type="radio"
                    :id="branch"
                    :value="branch"
                    name="branch"
                    v-model="currentBranch">
                <label :for="branch">{{ branch }}</label>
            </template>
            <p>{{ currentBranch }}</p>
            <ul>
                <li v-for="record in commits">
                  <a :href="record.html_url" target="_blank" class="commit">{{ record.sha.slice(0, 7) }}</a>
                  - <span class="message">{{ record.commit.message | truncate }}</span><br>
                  par <span class="author"><a :href="record.author.html_url" target="_blank">{{ record.commit.author.name }}</a></span>
                  le <span class="date">{{ record.commit.author.date | formatDate }}</span>
                </li>
              </ul>
            </div>
            {% endraw %}
            <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='lib/GitStatus.js') }}"></script>
        </div>
       
	</div>
</div>
<div class="uk-hidden">
    <div id="template_gen">
        <h2 class='uk-text-center uk-margin'>Généralités</h2>
      <li>Nom machine  $data.hostname</li>
      <li>Dernier redémarrage il y a : $data.uptime</li>
            <li>Fréquence CPU : $data.cpufrequency.current MHz (Min=$data.cpufrequency.min MHZ, Max=$data.cpufrequency.max MHz)</li>
      <hr>
            <li>Détail Connexions : </li>
               <div id="canvas-network"></div>
      <hr>
            <li>Mémoire :</li>
                <div id="canvas-mem"></div>
      </ul>
    </div>
    <div id="template_process">
      <h2 class='uk-text-center uk-margin'>Processus</h2>
      <li>Statuts des process :<li>
      <ul>
      <!-- for(elt in data.processes){ -->
            $template_lstPID
      </ul>
        <hr>
      <h3 class='uk-text-center uk-margin'>Utilisation Processeur</h3>
      <div class='uk-text-center uk-margin' id="canvas-cpu"></div>
      <hr>
        <h3 class='uk-text-center uk-margin'>Détails Process</h3>
       <table class="uk-text-center"><tr><th>Nom</th><th>CPU</th><th>Utilisation mémoire</th><th>PID</th></tr>
         <!--WARNING Keep in comment because of html verification in table
              Code is ok for this-->
         <!--$template_lstProcess-->
        </table>
     
    </div>
    <div id="template_lstPID">
      <li>$data.processes[elt].name : $data.processes[elt].lstPID</li>
    </div>
    <div id="template_lstProcess">
      <table>  
      <tr>
            <th>$data.allprocesses[elt].name</th>
            <td>$data.allprocesses[elt].cpu_percent</td>
          <td>$data.allprocesses[elt].memory_percent</td>
            <td>$data.allprocesses[elt].pid</td>
       </tr>
       </table>
    </div>

    <div id="template_disk">
        <h2 class='uk-text-center uk-margin'>Disques</h2>
    </div>
</div>
<link rel="stylesheet" href="https://rawgit.com/masayuki0812/c3/master/c3.css" />
{% endblock %}

