<!-- <meta http-equiv="refresh" content="60" /> -->
<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<div><h2>Scripts</h2>
$( document ).ready(function() {
    console.log( "ready!" )
    start()
});   
   function refresh() {
        $.post('/getdata' , {
                'action': 'refresh',
            },
            function success(reponse){
                if (timeout_flag != null) {
                    if (reponse.status == 'OK') {
                        alert('mise à jour OK :{{ data }}')
                        $('#data') = {{ data }}
                    } else {
                        alert('mise à jour vide')
                        $('#data') = 'nothing'
                    }
                    timeout_flag = setTimeout(function(){ refresh(); }, 3000)
                }
            },
            "json"
        );
    }

    function start() {
        alert('mise en place')
        timeout_flag = setTimeout(function(){ refresh(); }, 100)
    }

    function stop() {
        alert('Arret')
        clearTimeout(timeout_flag)
    }
</div>
<script type="text/javascript">
    function update_values() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT+"/_majData",
            function(data) {
                $("#data").text(data)
                $("#cpuload").text(data.cpu+" %")
                //$("#ram").text(data.ram+" %")
                //$("#disk").text(data.disk+" %")
            });
    }
    $(document).ready(function(){
        lancement();
    });
    function lancement(){
        console.log( "ready!" );
        alert("lancement");
        var refreshId = setInterval(update_values() {}, 1000);
    }
</script>
<hr>
<div>{{ status }}</div>
<hr>
<div class="actions">
<span id="data">data</span>
<hr>
<span id="ram">ram</span>
<hr>
<span id="disk">disk</span>
<hr>
<span id="cpuload">cpuload</span>
<hr>  
        <ul>
                <li><a href="#" onclick="start(); return false;" title="start briefing"> Start Briefing</a></li>
                <li><a href="#" onclick="stop(); return false;"> Stop Briefing</a></li>
            </ul>
        </div><!-- actions -->
<hr>        
<div>{{ data }}</div>