<script type="text/javascript">
    function refresh() {
        $.post('/getdata' , {
                'action': 'refresh',
            },
            function success(reponse){
                if (timeout_flag != null) {
                    if (reponse.status == 'OK') {
                        $('#current-diapo')[0].src = '/ftp/' + reponse.last_file
                    } else {
                        $('#current-diapo')[0].src = '{{default_image}}'
                    }
                    timeout_flag = setTimeout(function(){ refresh(); }, 3000)
                }
            },
            "json"
        );
    }

    function start() {
        timeout_flag = setTimeout(function(){ refresh(); }, 100)
    }

    function stop() {
        clearTimeout(timeout_flag)
    }
</script>


  <div class="actions">
            <ul>
                <li><a href="#" onclick="start(); return false;" title="start briefing"> Start Briefing</a></li>
                <li><a href="#" onclick="stop(); return false;"> Stop Briefing</a></li>
            </ul>
        </div><!-- actions -->