<!-- <meta http-equiv="refresh" content="60" /> -->
<head>
<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
</head>
<body>
<button onclick="start()">Lancer le décompte</button>
<button onclick="stop()">stopper le décompte</button>
<div id="bip" class="display"></div>

<script>
var counter = 20;
var intervalId = null;
function stop()
{
  clearInterval(intervalId);
  document.getElementById("bip").innerHTML = "TERMINE!";	
}
function bip()
{
    document.getElementById("bip").innerHTML = counter + " secondes restantes";
    counter--;
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var content = $SCRIPT_ROOT+"/_majData";
    $.getJSON($SCRIPT_ROOT+"/_majData",
        function(data) {
            $("#data").text(data)
            $("#cpuload").text(data.cpu+" %")
            $("#ram").text(data.ram+" %")
            $("#disk").text(data.disk+" %")
            $("#freespace").text(data.freespace)
        }
    );
    $("#data").text(content);
}
function start()
{
  intervalId = setInterval(bip, 1000);
}

</script>
 function update_values() {
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.getJSON($SCRIPT_ROOT+"/_majData",
        function(data) {
            $("#data").text(data)
            
        });
}
    $(document).ready(function(){
        lancement();
    });

<div><h2>Scripts</h2>
<hr>
<hr>
<div class="actions">
<span id="data">data</span>
<hr>
<span id="ram">ram</span>
<hr>
<span id="disk">disk</span>
<hr>
<span id="cpuload">cpuload</span>
<hr>  
<hr>
<span id="freespace">freespace</span>
<hr>  
        </div><!-- actions -->
<hr>        
<div>{{ data }}</div>
</body>


<!-- <button onclick="start()">Lancer le décompte</button> -->
<!-- <div id="bip" class="display"></div> -->

<!-- <script> -->
<!-- var counter = 20; -->
<!-- var intervalId = null; -->
<!-- function action() -->
<!-- { -->
  <!-- clearInterval(intervalId); -->
  <!-- document.getElementById("bip").innerHTML = "TERMINE!";	 -->
<!-- } -->
<!-- function bip() -->
<!-- { -->
  <!-- document.getElementById("bip").innerHTML = counter + " secondes restantes"; -->
  <!-- counter--; -->
<!-- } -->
<!-- function start() -->
<!-- { -->
  <!-- intervalId = setInterval(bip, 1000); -->
  <!-- setTimeout(action, counter * 1000); -->
<!-- }	 -->
<!-- </script> -->